.styleRow1{
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.styleRow2{
    background:#5d0a28;
    color:#FFF;
    height:60px;
    text-align: center;
}

.btn-outline-info{
    border-color: transparent!important;
}
.RoDate{
 margin-top: 20px!important;
}
.colAlign{
    float: right;
}